__pycache__
.vscode
.idea

# datasets/
results/
**/debug*

voreen/*
!voreen/feature-vesselgraphextraction_customized_command_line.vws

images/*
!images/*.svg
TODO.md

*.err
*.out

vessel_graph_generation/datasets
vessel_graph_generation/geometries/*/*.npy
vessel_graph_generation/geometries/*.yml

**/*.code-workspace