__pycache__
.vscode
.idea

# datasets/
results/
**/debug*

voreen/*
!voreen/feature-vesselgraphextraction_customized_command_line.vws

images/*
!images/*.svg
TODO.md

*.err
*.out

graph_generation/datasets
graph_generation/geometries/*/*.npy
graph_generation/geometries/*/*.yml

**/*.code-workspace